.navbar {
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 1rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
}

.logo-image {
  height: 100%;
  max-height: 50px;
  width: auto;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-buttons .btn {
  text-decoration: none;
}
